# Handling missing values

### isnan (find the nan values in array)

In [4]:
import numpy as np
arr=np.array([1,2,3,np.nan,0])
print(np.isnan(arr))

[False False False  True False]

##### Can we compare np.nan==np.nan values 
##### ans = no we can not compare

### np.nan_to_num(arr,nan=value) default value is 0 (used to replace null vales with nan)

In [7]:
arr=np.array([1,2,3,np.nan,0])
arr=np.nan_to_num(arr,nan=2)
print(arr) # nan value is replaced by 2

[1. 2. 3. 2. 0.]

### Handling infinite values
### np.isinf() check if any infinite value is in array

In [9]:
arr=np.array([1,2,np.inf,3,-np.inf,0])
print(np.isinf(arr))

[False False  True False  True False]

### np.nan_to_num(arr,posinf=1000,neginf=-1000) replace infinite value with positive infinite with 1000 and negative infinite with -1000

In [11]:
arr=np.array([1,2,np.inf,3,-np.inf,0])
cleaned_arr=np.nan_to_num(arr,posinf=1000,neginf=-1000)
print(cleaned_arr)

[    1.     2.  1000.     3. -1000.     0.]